<?xml version='1.0' encoding='utf-8'?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
  <menu id="root-menu" label="Openbox 3">
    <item label="Run Program">
      <action name="Execute">
        <execute>gmrun</execute>
      </action>
    </item>
    <separator />
    <menu execute="openbox-menu lxde-applications.menu" id="apps" label="Applications"/>
    <item label="Terminal">
      <action name="Execute">
        <execute>terminator -u</execute>
      </action>
    </item>
    <item label="Web Browser">
      <action name="Execute">
        <execute>x-www-browser</execute>
      </action>
    </item>
    <item label="File Manager">
      <action name="Execute">
        <execute>thunar</execute>
      </action>
    </item>
    <item label="Text Editor">
      <action name="Execute">
        <execute>geany</execute>
      </action>
    </item>
    <item label="Media Player">
      <action name="Execute">
        <execute>mpv</execute>
      </action>
    </item>
    <separator />
    <menu id="settings" label="Settings">
      <menu execute="cbpp-compositor" id="CompositingPipeMenu" label="Compositor" />
      <menu id="conkyconfig" label="Conky">
        <item label="Edit .conkyrc">
          <action name="Execute">
            <execute>geany ~/.conkyrc</execute>
          </action>
        </item>
        <item label="Restart Conky">
          <action name="Execute">
            <execute>conkywonky</execute>
          </action>
        </item>
        <separator label="Help?" />
        <item label="man page">
          <action name="Execute">
            <execute>x-terminal-emulator -e man conky</execute>
          </action>
        </item>
        <item label="Documentation">
          <action name="Execute">
            <execute>x-www-browser http://conky.sourceforge.net/documentation.html</execute>
          </action>
        </item>
      </menu>
      <menu id="dmenuconfig" label="dmenu">
        <item label="Edit start-up script">
          <action name="Execute">
            <execute>geany ~/.config/dmenu/dmenu-bind.sh</execute>
          </action>
        </item>
        <separator label="Help?" />
        <item label="man page">
          <action name="Execute">
            <execute>x-terminal-emulator -e man dmenu</execute>
          </action>
        </item>
      </menu>
      <menu id="gmrunconfig" label="gmrun">
        <item label="Edit config file">
          <action name="Execute">
            <execute>geany ~/.gmrunrc</execute>
          </action>
        </item>
        <separator label="Help?" />
        <item label="man page">
          <action name="Execute">
            <execute>x-terminal-emulator -e man gmrun</execute>
          </action>
        </item>
      </menu>
      <menu id="obConfig" label="Openbox">
        <item label="Edit menu.xml">
          <action name="Execute">
            <execute>geany ~/.config/openbox/menu.xml</execute>
          </action>
        </item>
        <item label="Edit rc.xml">
          <action name="Execute">
            <execute>geany ~/.config/openbox/rc.xml</execute>
          </action>
        </item>
        <item label="Edit autostart">
          <action name="Execute">
            <execute>geany ~/.config/openbox/autostart</execute>
          </action>
        </item>
        <separator />
        <item label="GUI Menu Editor">
          <action name="Execute">
            <execute>obmenu</execute>
          </action>
        </item>
        <item label="GUI Applications Settings Editor">
          <action name="Execute">
            <execute>obapps</execute>
          </action>
        </item>
        <item label="GUI Config Tool">
          <action name="Execute">
            <execute>obconf</execute>
          </action>
        </item>
        <separator />
        <item label="Reconfigure">
          <action name="Reconfigure" />
        </item>
        <item label="Restart">
          <action name="Restart" />
        </item>
      </menu>
      <menu id="tint2config" label="tint2">
        <item label="Edit config file">
          <action name="Execute">
            <execute>geany ~/.config/tint2/tint2rc</execute>
          </action>
        </item>
        <item label="Restart tint2">
          <action name="Execute">
            <execute>tint2restart</execute>
          </action>
        </item>
        <separator label="Help?" />
        <item label="man page">
          <action name="Execute">
            <execute>x-terminal-emulator -e man tint2</execute>
          </action>
        </item>
        <item label="Online Help">
          <action name="Execute">
            <execute>x-www-browser http://code.google.com/p/tint2/wiki/Welcome</execute>
          </action>
        </item>
      </menu>
      <menu id="DisplaySettings" label="Display Settings">
        <item label="ARandR Screen Layout Editor">
          <action name="Execute">
            <execute>arandr</execute>
          </action>
        </item>
        <separator label="Help?" />
        <item label="man xrandr">
          <action name="Execute">
            <execute>x-terminal-emulator -e man xrandr</execute>
          </action>
        </item>
      </menu>
      <menu id="Notifications" label="Notifications">
        <item label="settings">
          <action name="Execute">
            <execute>xfce4-notifyd-config</execute>
          </action>
        </item>
      </menu>
      <item label="Edit Default Applications">
        <action name="Execute">
          <execute>x-terminal-emulator -e sudo update-alternatives --all</execute>
        </action>
      </item>
      <item label="User Interface Settings">
        <action name="Execute">
          <execute>lxappearance</execute>
        </action>
      </item>
      <item label="Power Management">
        <action name="Execute">
          <execute>xfce4-power-manager-settings</execute>
        </action>
      </item>
      <item label="Screensaver">
        <action name="Execute">
          <execute>xscreensaver-demo</execute>
        </action>
      </item>
      <item label="Choose Wallpaper">
        <action name="Execute">
          <execute>nitrogen ~/images/wallpapers/</execute>
        </action>
      </item>
    </menu>
    <menu id="system" label="System">
      <menu execute="cbpp-printing-pipemenu" id="PrintingPipeMenu" label="Printers" />
      <item label="GParted">
        <action name="Execute">
          <execute>cbpp-gksudo gparted</execute>
        </action>
      </item>
      <item label="Synaptic Package Manager">
        <action name="Execute">
          <execute>cbpp-gksudo synaptic</execute>
        </action>
      </item>
    </menu>
    <separator />
    <item label="Lock Screen">
      <action name="Execute">
        <execute>xscreensaver-command -lock</execute>
      </action>
    </item>
    <item label="Exit">
      <action name="Execute">
        <execute>cbpp-exit</execute>
      </action>
    </item>
  </menu>
</openbox_menu>
